.sidebar {
  width: 215px;
  height: 100vh;
  position: relative;
}

.facebook-bg {
  background-color: #3B5998;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.jumbotron {
  padding: 1rem;
}

.progress {
  height: 1.5rem;
}

.modal-footer {
  display: block;
}

.TrainingPage {
  display: flex;
}

.training {
  width: calc(100% - 215px);
  background-color: #ecf0f1;
}

.training .typing_section {
  background-color: white;
}

.about {
  color: white;
  font-size: 0.8rem;
  border-radius: 0;
  position: absolute;
  bottom: 0;
}

.card-body {
  padding: 1rem;
}

.notDisplay {
  display: none;
}