@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:700');

body {
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  width: 222px;
  height: 100vh;
  position: fixed;
}

.sidebar a {
  line-height: 2rem;
}

.sidebar a:link,
.sidebar a:visited {
  color: #757575;
}

.sidebar a:active,
.sidebar a:hover {
  background-color: #E8F5E9;
  color: #28a745;
}

.sidebar a:not([href]):link, {
  color: red;
}

.size-16 {
  width: 1rem!important;
  margin-right: 1rem;
}

.facebook-bg {
  background-color: #3B5998;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.jumbotron {
  padding: 1rem;
}

.progress {
  height: 1.5rem;
}

.modal-footer {
  display: block;
}

.mainDivision {
  min-height: 100vh;
  width: calc(100% - 222px);
  background-color: #ecf0f1;
  margin-left: 222px;
}

.typing_section, .home_section {
  background-color: white;
}

.about {
  color: white;
  font-size: 0.8rem;
  border-radius: 0;
  position: absolute;
  bottom: 0;
}

.card-body {
  padding: 1rem;
}

.notDisplay {
  display: none;
}

.userAvatar {
  width: 40px;
  border-radius: 50%;
}

.home_section {
  padding: 4rem;
}

.home_section h1 {
  font-size: 4.5rem;
  font-family: 'Raleway', sans-serif;
}

.home_section h4 {
  line-height: 2rem;
}

.logo:active,
.logo:hover {
  text-decoration: none;
}

.characterBtnSecondary,
.characterBtnLight {
  cursor: auto!important;
}

.characterBtnSecondary:hover {
  background-color: #6c757d;
  border-color: #6c757d;
}

.characterBtnLight:hover {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}